<script> 
      function initialize() {
    var locations = [
      ['merch mart', 41.889196, -87.633939, 3],
      ['Portillos', 41.893497, -87.631370, 2],
      ['Blackwood BBQ', 41.885572, -87.635940, 1],
      ['Dev Bootcamp', 41.889929, -87.637654, 4]
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: new google.maps.LatLng(41.890153, -87.633728
    ),

      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
      }

      function loadScript() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' + 'callback=initialize';
        document.body.appendChild(script);
      }

      window.onload = loadScript;
    </script>

<div id="map" ></div>